@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

/* Avoid mobile horizontal scrolling by default */
body {
  overflow-x: hidden;
}
